html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

h1, h2, h3, h4, h5, h6
  margin: 0;
  padding: 0;
  border: 0;
  // font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block;

body
  line-height: 1;

blockquote, q
  quotes: none;

blockquote:before, blockquote:after,
q:before, q:after
  content: '';
  content: none;

table
  border-collapse: collapse;
  border-spacing: 0;

a
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  color: inherit;

// chrome 的滚动条自定义了一下，其他浏览器看缘分了，外部ui组件内部的滚动条就算了
::-webkit-scrollbar
  width: 6px;
  height: 6px;

::-webkit-scrollbar-thumb
  border-radius: 5px;
  background: #bbb;

::-webkit-scrollbar-track
  border-radius: 0;
  background: #e1e1e1;
