// 颜色变量主要来自element
$colorMain = '#409EFF'
$colorBlue = '#409EFF'
$colorGreen = '#67C23A'
$colorYellow = '#E6A23C'
$colorRed = '#F56C6C'
$colorGray = '#909399'
$colorWhite = '#fff'
$colorBlack = '#000'

$colorFont = '#303133'
$colorFontN = '#606266'
$colorFontM = '#909399'
$colorFontP = '#C0C4CC'

$colorBorder1 = '#DCDFE6'
$colorBorder2 = '#E4E7ED'
$colorBorder3 = '#EBEEF5'
$colorBorder4 = '#F2F6FC'

// size变量
$SizeS = 5px
$SizeM = 10px
$SizeL = 20px
$SizeLL = 30px
$SizeLLL = 50px